body {
    background-color: var(--first-color2);
}


.profile-main {
    width: 100%;
    background-color: var(--first-color2);
    height: calc(100vh - 40px);

}

.profile-main-flex {
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.profile-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.profile-icon img {
    border: 2px solid #D62828;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    box-shadow: 0 0 10px #D62828;
    margin-bottom: 20px;
}

.profile-icon h1 {
    text-transform: capitalize;

    font-size: 2rem;
}

.profile-icon p {
    font-size: 1.3rem;
}



.personal-info-container .header-label {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-label h1 {
    text-transform: capitalize;
    font-size: 1.3rem;

}

.personal-info {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    gap: 2px;

}

.personal-info .info {
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--first-color);
    border-radius: 5px;
    align-items: center;
}

.info .info-content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.info .info-content i{
   cursor: pointer;
   color: var(--seventh-color);
}


.personal-info .info p {
    font-size: 1.2rem;
}
.personal-info a {
    display: flex;
    flex-direction: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: var(--first-color);
    border-radius: 5px;
}


.new-personal-info{
    width: 100%;
    height: fit-content;
    background-color: var(--first-color);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.new-personal-info  .new-info{
  
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}




.new-info label{
    font-size: 1.3rem;
    color: var(--seventh-color);
}

.new-info input{
    all: revert;
    width: 200px;
    height: 20px;
    background-color: var(--first-color2);
    border: 1px solid var(--seventh-color);
    color: var(--seventh-color);
    border-radius: 2px;
}


.new-info input[type="date"]{
    all: revert;
    width: 205px;
    height: 25px;
    background-color: var(--first-color2);
    border: 1px solid var(--seventh-color);
    color: var(--seventh-color);
    border-radius: 2px;
}


.new-info select{
    all: revert;
    width: 205px;
    height: 24px;
    background-color: var(--first-color2);
    border: 1px solid var(--seventh-color);
    color: var(--seventh-color);
    border-radius: 2px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.button-container #save{
    color: white;
    background-color: var(--sixth-color);
    padding: 10px 20px;
    font-size: 1.3rem;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid;
}

.button-container #save:hover{
    color: white;
    background-color: #003d5b;
    box-shadow: 0 0 3px #003d5b;
    transition: 0.5s;
}

.button-container #cancel{
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: var(--fifth-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid;
}




.button-container #cancel:hover{
    color: white;
    background-color: #410000;

}


.button-container button{
    all: revert;
    cursor: pointer;
}



















/*
 For small mobile devices:
@media only screen and (max-width: 480px) {}

For standard mobile devices:
@media only screen and (min-width: 481px) and (max-width: 767px) {}

For tablets:
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

For small desktops and laptops:
@media only screen and (min-width: 1024px) and (max-width: 1199px) {}

For larger desktops and laptops:
@media only screen and (min-width: 1200px) {} */









/* for small mobile devices */
@media only screen and (max-width: 480px) {

    .wrapper-main {
        width: 100%;
    }


    .profile-main {
        width: 100%;
        background-color: var(--first-color2);
        height: calc(100vh - 40px);
    }

    .profile-main-flex {
        padding: 20px;
        display: flex;
        flex-direction: column;

    }

    .profile-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .profile-icon img {
        border: 2px solid #D62828;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        box-shadow: 0 0 10px #D62828;
        margin-bottom: 20px;
    }

    .profile-icon h1 {
        text-transform: capitalize;

        font-size: 2rem;
    }

    .profile-icon p {
        font-size: 1.3rem;
    }




    .personal-info-container {
      
    }

    .personal-info-container .header-label {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-label h1 {
        text-transform: capitalize;
        font-size: 1.3rem;

    }

    .header-label a {
        font-size: 1.2rem;
        color: #D62828;
    }


    .personal-info {
        display: flex;
        flex-direction: column;
        padding: 5px 0;
        gap: 2px;
    }

    .personal-info .info {
        display: flex;
        flex-direction: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: var(--first-color);
        border-radius: 5px;
    }

    .personal-info .info p {
        font-size: 1.2rem;
    }
    .personal-info a {
        display: flex;
        flex-direction: flex;
        justify-content: flex-end;
        padding: 10px;
        background-color: var(--first-color);
        border-radius: 5px;
    }

  
}
























/* For standard mobile devices: */
@media only screen and (min-width: 481px) and (max-width: 767px) {

    .wrapper-main {
        width: 100%;
    }

    /* home content */



}


    /* For tablets: */
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .wrapper-main {
            width: 100%;
        }
    }


    /* For small desktops and laptops: */

    @media only screen and (min-width: 1024px) and (max-width: 1199px) {
        .wrapper-main {
            width: 100%;
        }
    }



    /* For larger desktops and laptops: */
    @media only screen and (min-width: 1200px) {

    }