body {
    background-color: var(--first-color2);
}

/* for alignment */
.wrapper-main {
    width: 1200px;
    margin: 0 auto;
}

/* home content */

.main-home {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url(../system_images/Picture4.png), url(../system_images/bg1.png);
    background-size: 60vh, cover;
    background-repeat: no-repeat;
    background-position: right 10% center, center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-content {
    color: white;
    display: flex;
    padding-bottom: 10vh;
    width: 100vh;
}






.wave-text{
    position: relative;
    bottom: 5vh;
}
.wave-text h2{
    position: absolute;
    
    font-size: 4.5rem;
    transform: translate(0, -50%);
    font-weight: bold;
    line-height: 2;
}

.wave-text h2:nth-child(1){
    color: transparent;
    background-color: none;
    -webkit-text-stroke: 1px var(--water-border);
}
.wave-text h2:nth-child(2){
    color: var(--water-color);
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54%
        60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100% );
    }
    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51%
        62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100% );
    }
}







.home-content p {
    font-size: 2rem;
    line-height: 1.5;
    color: white;
}


/* end */












/* learn more button */
/*Global btn styles*/

.btn {
    position: relative;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    font-size: 1.5rem;
    border: none;
    width: fit-content;
    border-radius: 30px;
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    text-indent: 50px;
    transition: 300ms;
    font-weight:bold;
    padding: 10px 40px 10px 0;

  }
  /*Container styles*/
  .container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  /*Main button styles*/
  .btn {
   

  }
  
  .btn::before {
    content: "";
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #282936;
    z-index: -1;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: 400ms;
  }
  
  .btn:hover {
    text-indent: 15px;
    color: white;
    font-weight: 600;
    background-color: #F77F00;
  }
  .btn:active {
    scale: 0.95;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn:hover::after {
    left: calc(100% - 25px);
  }
  
/* end */

















/* reservation page */

.reservation-page {
    width: 100%;
    background-color: var(--first-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    column-gap: 50px;
    flex-wrap: wrap;
    background-color: var(--first-color);
    margin-top: 150px;
}



.reservation-page h1 {
    text-align: center;
    flex-basis: 100%;
    font-weight: bold;
    color: var(--seventh-color);
    margin-bottom: 20px;
    font-family: estregan;
}


.reservation-page p {
    text-align: justify;
    color: var(--seventh-color);
    margin-bottom: 30px;
}





.reservation-page .category-box {
    height: 20rem;
    width: 30rem;
    color: white;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
}

.category-box .dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    border-radius: 5px;
    opacity: 50%;
}

.category-box:hover .dark-overlay {
    opacity: 0;
    transition: all ease-in-out 0.3s;
}


.category-box:nth-child(2) {
    background-image: url(../system_images/cottage.jpg);
}

.category-box:nth-child(3) {
    background-image: url(../system_images/rooms.jpg);
}

.category-box h2 {
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 4px 1px #000;
    z-index: 100;
    font-family: estregan;
}






















/* about page */

.about-page {
    width: 100%;
    background-color: var(--first-color2);
}

.about-page-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    
}


.about-page-content {
    background-color: var(--first-color);
    border-radius: 5px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}


.about-page-content hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--seventh-color3);
}


.about-page-content .image-holder {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page-content .image-holder img {
    width: 220px;
    height: 220px;
}

/* end */




