body {
    background-color: var(--first-color2);
}

/* for alignment */
.wrapper-main {
    width: 1200px;
    margin: 0 auto;
}

/* home content */

.main-home {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url(../system_images/Picture4.png), url(../system_images/bg1.png);
    background-size: 60vh, cover;
    background-repeat: no-repeat;
    background-position: right 10% center, center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-content {
    color: white;
    display: flex;
    padding-bottom: 10vh;
    width: 600px;
}

.home-content h1 {
    font-size: 3rem;
    padding-bottom: 20px;
    font-weight: bold;
    font-family: estregan;
}

.home-content p {
    font-size: 2rem;
    line-height: 30px;
}

/* end */












/* learn more button */

button.learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    margin-top: 20px;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--fourth-color);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid white;
    ;
    border-right: 0.125rem solid white;
    ;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: white;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: white;
}

/* end */

















/* reservation page */

.reservation-page {
    width: 100%;
    background-color: var(--first-color2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    column-gap: 50px;
    flex-wrap: wrap;
    background-color: var(--first-color);
    margin-top: 150px;
}



.reservation-page h1 {
    text-align: center;
    flex-basis: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--seventh-color);
    margin-bottom: 20px;
    font-family: estregan;
}


.reservation-page p {
    line-height: 30px;
    text-align: justify;
    font-size: 1.5rem;
    color: var(--seventh-color);
    margin-bottom: 30px;
}





.reservation-page .category-box {
    height: 200px;
    width: 300px;
    color: white;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
}

.category-box .dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    border-radius: 5px;
    opacity: 50%;
}

.category-box:hover .dark-overlay {
    opacity: 0;
    transition: all ease-in-out 0.3s;
}


.category-box:nth-child(2) {
    background-image: url(../system_images/cottage.jpg);
}

.category-box:nth-child(3) {
    background-image: url(../system_images/rooms.jpg);
}

.category-box h2 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-shadow: 1px 4px 1px #000;
    z-index: 100;
    font-family: estregan;

}






















/* about page */

.about-page {
    width: 100%;
    background-color: var(--first-color2);
}

.about-page-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
    
}


.about-page-content {
    background-color: var(--first-color);
    border-radius: 5px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}

.about-page-content label {
    font-weight: bold;
    font-size: 2.5rem;
    color: var(--seventh-color);
    font-family: estregan;

}

.about-page-content hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--seventh-color3);
}

.about-page-content p {
    color: var(--seventh-color);
    font-size: 1.5rem;
    line-height: 30px;
    text-align: justify;
}

.about-page-content .image-holder {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-page-content .image-holder img {
    width: 220px;
    height: 220px;
}

/* end */




