body {
    background-color: var(--first-color2);

}

#scrollToTopBtn {
    display: none;
}


/* page structure */

.page-structure {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.left-background {
    background: url(../system_images/bg7.jpg);
    width: 30vh;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
}


.right-background {
    background: url(../system_images/bg8.jpg);
    width: 30vh;
    filter: brightness(70%);
    background-size: cover;
    background-position: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.rooms-base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.container-header {
    width: 100%;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-header label {
    background-color: var(--seventh-color);
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    color: var(--first-color);
}

.category-container {
    display: flex;
    align-items: center;

    padding: 2px 10px 10px 2px;
    top: 0;
    z-index: 700;
    background-color: var(--first-color2);
    position: -webkit-sticky;
    position: sticky;
    box-shadow: 0 1px 5px var(--box-shadow);
}

.select-container {
    display: flex;

    width: 100%;
    justify-content: space-between;
}

.search-bar-container {
    float: right;
}


/* no room message */
.no-rooms-message {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    margin-top: 20px;
    font-size: 2rem;
}





/* mobile header */
.main-home {
    display: none;
}



/*Container styles*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.btn {
    font-size: 1rem;
    text-indent: 40px;
}


.btn::after {
    width: 5px;
    height: 5px;
}

/* end */



/* catergory container */
.category-main-container {
    width: 100%;
    margin-top: 20px;
    background-color: var(--first-color2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0;
    display: none;
}

.category-main-container h2 {
    color: var(--seventh-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.category-bar-container {
    display: flex;
    gap: 1rem;
}

.category-bar-container select {
    color: var(--seventh-color);
    padding: 1rem;
    background-color: var(--first-color);
}








/* select category */

.custom-select-pc {
    position: relative;
}

.custom-select-pc select {
    all: revert;
    padding: 5px;
    background-color: var(--first-color);
    border-color: var(--first-color2);
    color: var(--booknow-border);


    border: 1px solid var(--booknow-border);
  
   
}


/* Style the option elements */
select option {
    background-color: var(--first-color2);
    /* Dropdown options background color */
    color: var(--booknow-border);

    /* Dropdown options text color */
}




/* end */



/* rooms container */

.rooms-container {
    max-height: 80vh;
    /* Adjust the height as needed */
    position: relative;
    border-radius: 3px;
    flex-grow: 1;
    margin: 0 20px 20px 20px;
    background-color: var(--first-color);
    overflow-x: none;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Distribute items evenly */
}


/* rooms-holder */
.rooms-holder {
    padding: 20px;
}


.title-head {
    padding-bottom: 10px;
    text-transform: uppercase;
}

.title-head label {
    font-size: 2rem;
    font-weight: bold;
    /* Make the text bold */
    color: var(--seventh-color);
    /* Add more styling properties as needed */
}


/* rooms */

.room-first-container {
    display: flex;
    gap: 20px;
    padding: 5px;
    flex-wrap: wrap;
}

.rooms {

    display: flex;
    flex-direction: column;
    width: 250px;
    height: 330px;
    background-color: var(--first-color);
    border-radius: 5px;
    box-shadow: 0 0 4px var(--box-shadow);
}


.rooms label {
    font-size: 1.3rem;
    font-weight: normal;
    color: var(--seventh-color);
}

.rooms img {
    height: 150px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.rooms .info-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 120px;
    overflow-y: scroll;
}

.info-container .room-details {
    display: flex;
    justify-content: space-between;

}

.room-details label {
    font-size: 1.2rem;
}

.room-details p {
    font-size: 1.2rem;
}

.room-details label[for="bold-text"],
.room-details p[for="bold-text"] {
    font-weight: bold;
    font-size: 1.4rem;
}

#good-for {
    justify-content: flex-end;
    padding-bottom: 5px;

}

#good-for p {
    font-size: 1rem;
}

em {
    font-style: italic;
}

















/* for button  must not touch*/



.items button:hover {
    color: var(--booknow-text);
    background-color: var(--fourth-color);
    transition: 0.3s;
    transform-style: inherit;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9px 12px;
    gap: 8px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: var(--booknow-text);
    background-color: var(--fourth-color);
    font-size: 1.5rem;
    border: 1px solid var(--booknow-border);
}


.button:hover {
    color: var(--booknow-text);
    background-color: var(--fourth-color);
    transition: 0.3s;
    transform-style: inherit;
}

.lable {
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
}


.button:hover .svg-icon {
    animation: slope 1s linear infinite;

}

/* CSS to change the color of the SVG icon */
.svg-icon path,
.svg-icon rect {
    stroke: var(--booknow-text);
    /* Change "red" to the desired color */
}

@keyframes slope {
    0% {}

    50% {
        transform: rotate(10deg);
    }

    100% {}
}

.button-container {
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: center;
}


.button-container a {
    text-decoration: none;
}



















/* might be deleted below. but must not touch first */








































/*
 For small mobile devices:
@media only screen and (max-width: 480px) {}

For standard mobile devices:
@media only screen and (min-width: 481px) and (max-width: 767px) {}

For tablets:
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

For small desktops and laptops:
@media only screen and (min-width: 1024px) and (max-width: 1199px) {}

For larger desktops and laptops:
@media only screen and (min-width: 1200px) {} */









/* for small mobile devices */
@media only screen and (max-width: 480px) {

    .wrapper-main {
        width: 100%;
    }

    .container-header {
        display: none;
    }


    .rooms-base-container {
        padding: 0;
        margin: 0;
    }

    .left-background,
    .right-background {
        display: none;
    }


    .rooms-container {
        max-height: 80vh;
        /* Adjust the height as needed */
        position: relative;
        border-radius: 3px;
        flex-grow: 1;
        margin: 0;
        background-color: var(--first-color);
        overflow-x: none;
        overflow-y: scroll;
        flex-wrap: wrap;
        justify-content: space-between;
        /* Distribute items evenly */
    }

    .category-container {
        display: flex;
        justify-content: space-between;

        align-items: center;
        padding: 10px;
        top: 0;
       
        background-color: var(--first-color2);
        position: -webkit-sticky;
        position: sticky;
        box-shadow: 0 1px 5px var(--box-shadow);
    }




    .select-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }





    /* rooms-holder */
    .rooms-holder {
        padding: 20px;
        display: flex;
        flex-direction: column;

    }


    .room-first-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 5px 5px 20px 5px;
        flex-wrap: wrap;
    }


    .rooms-main-container {
        display: contents;
    }





    /* home content */


    .main-home {
        width: 100%;
        background-image: url(../system_images/Picture4.png), url(../system_images/bg1.png);
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 15vh;
        background-size: 15vh, cover;
        background-position: right, center;

    }

    .home-content {
        color: white;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 10vh;


    }





    .wave-text {
        width: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 8vh;
        text-transform: uppercase;
    }

    .wave-text h2 {
        position: absolute;
        font-size: 1.5rem;
        transform: translate(0, -50%);
        font-weight: bold;
        line-height: 2;
    }


    .wave-text h2:nth-child(1) {
        color: transparent;
        background-color: none;
        -webkit-text-stroke: 1px var(--water-border);
    }

    .wave-text h2:nth-child(2) {
        color: var(--water-color);
        animation: animate 4s ease-in-out infinite;
    }

    @keyframes animate {

        0%,
        100% {
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
        }

        50% {
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
        }
    }












}


























/* For standard mobile devices: */
@media only screen and (min-width: 481px) and (max-width: 767px) {}



/* For tablets: */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper-main {
        width: 100%;
    }
}


/* For small desktops and laptops: */

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .wrapper-main {
        width: 100%;
    }
}



/* For larger desktops and laptops: */
@media only screen and (min-width: 1200px) {}