.alignment-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
}

.main-login {
    width: 360px;
    background: linear-gradient(180deg, #fcc89b 30%, #942900 70%, #001535 100%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: var(--first-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



.login-container .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container .logo-container hr {
    border: 1px solid var(--seventh-color3);
    width: 90%;
    height: 1px;

}

.login-container .logo-container img {
    height: 8rem;
    width: 8rem;
}







.login-container h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--seventh-color);
}

.login-container p {
    font-size: 1.3rem;
    color: var(--seventh-color4);
}

.login-container label {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--seventh-color);
}


/* input container */


.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    padding-left: 40px;
    /* Space for the icon */
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.4rem;
    color: var(--seventh-color);
    background-color: var(--seventh-color3);
}

.input-icon {
    color: var(--seventh-color);
    font-size: 20px;
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
}

.input-icon2 {
    color: var(--seventh-color);
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 45%;
    transform: translateY(-50%);
}

.input-icon3 {
    color: var(--seventh-color);
    font-size: 20px;
    position: absolute;
    left: 5px;
    top: 45%;
    transform: translateY(-50%);
}


/* end */



.btn-grad {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
    margin-top: 20px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 1px #eee;
    border-radius: 5px;
    display: block;
    width: 100%;

}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.signup-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 25vh;
    font-size: 1.3rem;
    gap: 5px;
    padding-bottom: 5vh;
}


.signup-btn a {
    font-weight: bold;
    color: var(--seventh-color);
}




/*
 For small mobile devices:
@media only screen and (max-width: 480px) {}

For standard mobile devices:
@media only screen and (min-width: 481px) and (max-width: 767px) {}

For tablets:
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

For small desktops and laptops:
@media only screen and (min-width: 1024px) and (max-width: 1199px) {}

For larger desktops and laptops:
@media only screen and (min-width: 1200px) {} */








@media only screen and (max-width: 480px) {

    /* for alignment */
    .wrapper-main {
        width: 100%;
    }

    .main-login {
        width: 100%;
        background: linear-gradient(180deg, #fcc89b 30%, #942900 70%, #001535 100%);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .login-container {
        width: 100%;
        height: fit-content;
        padding: 10px;
        background-color: var(--first-color);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }



    .login-container .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .login-container .logo-container hr {
        border: 1px solid var(--seventh-color3);
        width: 90%;
        height: 1px;

    }

    .login-container .logo-container img {
        height: 8rem;
        width: 8rem;
    }







    .login-container h2 {
        font-size: 2rem;
        font-weight: bold;
        color: var(--seventh-color);
    }

    .login-container p {
        font-size: 1.3rem;
        color: var(--seventh-color4);
    }

    .login-container label {
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--seventh-color);
    }


    /* input container */


    .input-container {
        position: relative;
        width: 100%;
    }

    .input-container input {
        padding-left: 40px;
        /* Space for the icon */
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1.4rem;
        color: var(--seventh-color);
        background-color: var(--seventh-color3);
    }

    .input-icon {
        color: var(--seventh-color);
        font-size: 20px;
        position: absolute;
        left: 10px;
        top: 45%;
        transform: translateY(-50%);
    }

    .input-icon2 {
        color: var(--seventh-color);
        font-size: 20px;
        position: absolute;
        left: 5px;
        top: 45%;
        transform: translateY(-50%);
    }

    .input-icon3 {
        color: var(--seventh-color);
        font-size: 20px;
        position: absolute;
        left: 5px;
        top: 45%;
        transform: translateY(-50%);
    }


    /* end */



    .btn-grad {
        background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
        margin-top: 20px;
        padding: 15px 0;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 1px #eee;
        border-radius: 5px;
        display: block;
        width: 100%;

    }

    .btn-grad:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }


    .signup-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 15vh;
        font-size: 1.3rem;
        gap: 5px;
        padding-bottom: 5vh;
    }


    .signup-btn a {
        font-weight: bold;
        color: var(--seventh-color);
    }


}