/* for body */

body {
    /* background: linear-gradient(360deg, rgb(25, 67, 122) 4%, rgb(182, 206, 251) 50%, rgb(254, 233, 177) 100%); */
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;

}



.container {
    display: grid;
    grid-template-columns: .2fr 1fr .2fr 1fr .2fr;
    grid-template-rows: .1fr 1fr .1fr;
    height: 93.5vh;
    background: linear-gradient(180deg, #fcc89b 30%, #942900 70%, #001535 100%);
}



.leftcontent {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(86, 86, 86);
}
.leftcontent .registration-lbl {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #f79c4d;
    text-shadow: 0 1px 1px rgb(127, 127, 127);
}

.leftcontent input {
    width: 100%;
    font-size: 18px;
    height: 40px;
}

.leftcontent .input1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.leftcontent .input1 input.has-value {
    background-color: #effaff;
}


.leftcontent .submit-btn {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.leftcontent .submit-btn button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid;
    background: linear-gradient(180deg, #f79c4d 20%, #942900 70%, #001535 100%);
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgb(168, 168, 168);
}


.leftcontent .submit-btn button:hover {
    background: linear-gradient(180deg, #c17a3b 20%, #681e00 70%, #000a18 100%);
}








.rightcontent {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    position: relative;
    background-image: url(system_images/signupPicture.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.rightcontent .new-here {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    padding-top: 260px;
    color: white;
    text-shadow: 0 2px 2px rgb(186, 186, 186);

}

.rightcontent .greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: white;
    font-style: italic;
}


.rightcontent .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
    color: white;
}

.rightcontent .signup-btn a {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid;
    background: linear-gradient(180deg, #f79c4d 20%, #942900 70%, #001535 100%);
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.rightcontent .signup-btn a:hover {
    background: linear-gradient(180deg, #c17a3b 20%, #681e00 70%, #000a18 100%);
}