/* log in css */

html,body {
    height:100%;
    width:100%;
    margin:0;
  }

.login-container{
    background-color: white;
}
    /* background: linear-gradient(180deg, rgb(24, 43, 77) 20%, rgb(91, 106, 133) 60%, rgb(101, 116, 143) 100%); */
    /* background: linear-gradient(180deg, rgb(32, 56, 100) 20%, rgb(132, 153, 190) 60%, rgb(144, 166, 203) 100%); */
   

.login-form{
    left      : 20%;
    top       : 20%;
    position  : absolute;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 120px;
    padding-right: 100px;
    background-color:white;
    border: 1px solid #EE7903;
    border-radius: 5px;
    /* box-shadow: rgb(199, 212, 240) 0 0 8px;  */
    box-shadow: 0 3px 3px;
    width: 200px;

}

.textbold{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 30%;
    top: 8%;
    position  : absolute;
    font-weight: bolder;
    text-align: center;
}

.picture1{
    right: 10%;
    top: 5%;
    position  : absolute;
    max-width: 25%;
    height: auto;
}

.label-signup{
    left: 10%;
    top: 27%;   
    position  : absolute;
    color: #757070;
    font-size: 15px;
}



.label-username{
    left: 10%;
    top: 37%;
    position  : absolute;
    font-weight: bold;
}

.input-username{
    left: 10%;
    top: 45%;
    position  : absolute;
    text-align: center;
    width: 81%;
    height: 6%;
    border: 1px solid #EE7903;
    border-radius: 10px;
}

.label-password{
    left: 10%;
    top: 57%;
    position  : absolute;
    font-weight: bold;
}

.input-password{
    left: 10%;
    top: 65%;
    position  : absolute;
    text-align: center;
    width: 81%;
    height: 6%;
    border: 1px solid #EE7903;
    border-radius: 10px;
}

.login-btn{
    left: 60%;
    top: 80%;
    position  : absolute;
    text-align: center;
    width: 30%;
    height: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #ED7D31;
    color: white;
    border: 1px;
    border-radius: 40px;
}

.picture2{
    left: 52%;
    top: 19%;
    position  : absolute;
    max-width: 24%;
    height: auto;
}

.newhere{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    left: 60.5%;
    top:40%;
    position  : absolute;
    color: rgb(0, 0, 0);
}
.signup-label{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    left: 57%;
    top: 45%;
    position  : absolute;
    color: rgb(245, 245, 245);
}

.register-btn{
    left: 62%;
    top: 55%;
    position  : absolute;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #EE7903;
    text-decoration: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    background-color: #CF2A02;
    color: white;
    font-weight: bold;
}


/* registration css */


.registration-form{
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    right     : 75%;
    top       : 20%;
    position  : relative;
    /* background-color: white; */
    /* box-shadow: 0 4px 4px; */
}

.table{
    left     : 30%;
    top       : 90%;
    position  : relative;
    border: 1px solid;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 4px;
}

.td1{
    border: 2px solid rgb(44, 44, 44);
    text-align: center;
    border-radius: 4px;
}
.td2{
    border: 1px solid rgb(110, 110, 110);
    text-align: center;
    border-radius: 4px;
}

.v1{
    border-left: 4px solid rgb(230, 230, 230);
    height:auto;
    left: 35%;
    top:0%;
    bottom: 0%;
    position: relative;
}

.registration-container{
    background-color: white;
    /* background: linear-gradient(180deg, rgb(24, 43, 77) 20%, rgb(91, 106, 133) 60%, rgb(101, 116, 143) 100%); */
}

.submit{
    width: 64%;
    height: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(15, 15, 15);
    color: white;
    position  : absolute;
}

.submit-login{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    position  : absolute;   
}

.label-login{
    color: #757070;
    font-size: 15px;
}

.picture3{
    left: 52%;
    top: 19%;
    position  : absolute;
    max-width: 24%;
    height: auto;
}

.input{
    width: 200%;
    max-height: 20%;
    box-sizing: 100px;
}