
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #61737b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #002334;
}

body {
    height: 100vh;
}




.display-container {
    display: contents;
}

.real-container {
    height: 93.6vh;
    display: grid;
    grid-template-columns: .2fr 1fr .2fr;
    grid-template-rows: .02fr 1fr .02fr;
    z-index: 1;
}


.background-design1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background: url(../../system_images/bg7.jpg);
    filter: brightness(90%);
    background-size: cover;
    background-position: center;
}

.background-design2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    background: url(../../system_images/bg8.jpg);
    filter: brightness(90%);
    background-size: cover;
    background-position: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.for-footer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #002334;
    opacity: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ededed;
    font-style: italic;
    font-size: 10px;
}

.real-sub-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #f7f7f7;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    padding: 10px;
    padding-top: 0;
    z-index: 2;
    border-radius: 5px;
}

.content-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.content-for-head {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #002334;
    padding: 10px;
    box-shadow: 0 1px 2px #363636;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 4;
}

.content-for-head .header-text {
    font-weight: bold;


}

.content-sub-header {
    padding-top: 80px;
}


.content-sub-header label {
    font-weight: bold;

}


.category-bar-container {
    padding: 10px;
    width: 100%;
    top: 39px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 4;
    background-color: white;
}



/* for slide box */
.container {
    max-width: 1200px;
    width: 100%;

}
















/* for standard  slide-wrapper1 and button1 */
.slide-wrapper1 {
    position: relative;
}

.slide-wrapper1 .slide-button1 {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #000000;
    border: none;
    outline: none;
    background: #969696;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10%;
    transform: translateY(-50%);
    opacity: 40%;
}

.slide-wrapper1 .slide-button1:hover {
    background: #002334;
    opacity: 90%;
}

.slide-wrapper1 .slide-button1#prev-slide {
    left: -20px;
    display: none;
}

.slide-wrapper1 .slide-button1#next-slide {
    right: -20px;
}

.slide-wrapper1 .list-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: #F1F1F1;
}

.slide-wrapper1 .list-container::-webkit-scrollbar {
    display: none;
}

.slide-wrapper1 .list-container .item-container {
    height: 200px;
    max-height: 200px;
    width: 100%;
}


.container .slider-scrollbar1 {
    height: 24px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.slider-scrollbar1 .scrollbar-track1 {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
}

.slider-scrollbar1:hover .scrollbar-track1 {
    height: 4px;
}

.slider-scrollbar1 .scrollbar-thumb1 {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #002334;
    border-radius: inherit;
    cursor: grab;
    opacity: 40%;
}

.slider-scrollbar1 .scrollbar-thumb1:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
    opacity: 80%;
}

.slider-scrollbar1 .scrollbar-thumb1::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
    opacity: 40%;
}

/* end */


















/* for superior  slide-wrapper2 and button2 */
.slide-wrapper2 {
    position: relative;
}

.slide-wrapper2 .slide-button2 {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #000000;
    border: none;
    outline: none;
    background: #969696;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10%;
    transform: translateY(-50%);
    opacity: 40%;
}

.slide-wrapper2 .slide-button2:hover {
    background: #002334;
    opacity: 90%;
}

.slide-wrapper2 .slide-button2#prev-slide {
    left: -20px;
    display: none;
}

.slide-wrapper2 .slide-button2#next-slide {
    right: -20px;
}

.slide-wrapper2 .list-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: #F1F1F1;
}

.slide-wrapper2 .list-container::-webkit-scrollbar {
    display: none;
}

.slide-wrapper2 .list-container .item-container {
    height: 200px;
    max-height: 200px;
    width: 100%;
}


.container .slider-scrollbar2 {
    height: 24px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.slider-scrollbar2 .scrollbar-track2 {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
}

.slider-scrollbar2:hover .scrollbar-track2 {
    height: 4px;
}

.slider-scrollbar2 .scrollbar-thumb2 {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #002334;
    border-radius: inherit;
    cursor: grab;
    opacity: 40%;
}

.slider-scrollbar2 .scrollbar-thumb2:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
    opacity: 80%;
}

.slider-scrollbar2 .scrollbar-thumb2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
    opacity: 40%;
}

/* end */




















/* for family room */
.slide-wrapper3 {
    position: relative;
}

.slide-wrapper3 .slide-button3 {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #000000;
    border: none;
    outline: none;
    background: #969696;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10%;
    transform: translateY(-50%);
    opacity: 40%;
}

.slide-wrapper3 .slide-button3:hover {
    background: #002334;
    opacity: 90%;
}

.slide-wrapper3 .slide-button3#prev-slide {
    left: -20px;
    display: none;
}

.slide-wrapper3 .slide-button3#next-slide {
    right: -20px;
}

.slide-wrapper3 .list-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: #F1F1F1;
}

.slide-wrapper3 .list-container::-webkit-scrollbar {
    display: none;
}

.slide-wrapper3 .list-container .item-container {
    height: 200px;
    max-height: 200px;
    width: 100%;
}


.container .slider-scrollbar3 {
    height: 24px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.slider-scrollbar3 .scrollbar-track3 {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
}

.slider-scrollbar3:hover .scrollbar-track3 {
    height: 4px;
}

.slider-scrollbar3 .scrollbar-thumb3 {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #002334;
    border-radius: inherit;
    cursor: grab;
    opacity: 40%;
}

.slider-scrollbar3 .scrollbar-thumb3:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
    opacity: 80%;
}

.slider-scrollbar3 .scrollbar-thumb3::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
    opacity: 40%;
}

/* end */













/* for barkadahan room */
.slide-wrapper4 {
    position: relative;
}

.slide-wrapper4 .slide-button4 {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #000000;
    border: none;
    outline: none;
    background: #969696;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10%;
    transform: translateY(-50%);
    opacity: 40%;
}

.slide-wrapper4 .slide-button4:hover {
    background: #002334;
    opacity: 90%;
}

.slide-wrapper4 .slide-button4#prev-slide {
    left: -20px;
    display: none;
}

.slide-wrapper4 .slide-button4#next-slide {
    right: -20px;
}

.slide-wrapper4 .list-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: #F1F1F1;
}

.slide-wrapper4 .list-container::-webkit-scrollbar {
    display: none;
}

.slide-wrapper4 .list-container .item-container {
    height: 200px;
    max-height: 200px;
    width: 100%;
}


.container .slider-scrollbar4 {
    height: 24px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.slider-scrollbar4 .scrollbar-track4 {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
}

.slider-scrollbar4:hover .scrollbar-track4 {
    height: 4px;
}

.slider-scrollbar4 .scrollbar-thumb4 {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #002334;
    border-radius: inherit;
    cursor: grab;
    opacity: 40%;
}

.slider-scrollbar4 .scrollbar-thumb4:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
    opacity: 80%;
}

.slider-scrollbar4 .scrollbar-thumb4::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
    opacity: 40%;
}

/* end */













/* for exclusive suite */
.slide-wrapper5 {
    position: relative;
}

.slide-wrapper5 .slide-button5 {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    color: #000000;
    border: none;
    outline: none;
    background: #969696;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10%;
    transform: translateY(-50%);
    opacity: 40%;
}

.slide-wrapper5 .slide-button5:hover {
    background: #002334;
    opacity: 90%;
}

.slide-wrapper5 .slide-button5#prev-slide {
    left: -20px;
    display: none;
}

.slide-wrapper5 .slide-button5#next-slide {
    right: -20px;
}

.slide-wrapper5 .list-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scrollbar-width: none;
    background-color: #F1F1F1;
}

.slide-wrapper5 .list-container::-webkit-scrollbar {
    display: none;
}


.slide-wrapper5 .list-container .item-container {
    height: 200px;
    max-height: 200px;
    width: 100%;
}


.container .slider-scrollbar5 {
    height: 24px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.slider-scrollbar5 .scrollbar-track5 {
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
}

.slider-scrollbar5:hover .scrollbar-track5 {
    height: 4px;
}

.slider-scrollbar5 .scrollbar-thumb5 {
    position: absolute;
    height: 100%;
    width: 50%;
    background: #002334;
    border-radius: inherit;
    cursor: grab;
    opacity: 40%;
}

.slider-scrollbar5 .scrollbar-thumb5:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
    opacity: 80%;
}

.slider-scrollbar5 .scrollbar-thumb5::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
    opacity: 40%;
}

/* end */





















.items {
    padding-bottom: 10px;
    background-color: #FFFFFF;
    border: 1px solid rgb(205, 205, 205);
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(152, 152, 152);
}

.items img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.items button {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: #FA7C0D;
    font-size: 15px;
}

.items button:hover {
    color: white;
    background-color: #bd600e;
    transition: 0.3s;
    transform-style: inherit;
}

.items label {
    text-transform: capitalize;
}


.container-of-labels {
    max-height: 120px;
    overflow-y: scroll;
}   


.label-container {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
}

.label-container .title-text{
    color: #535353;
}


.label-container .detail{
    display: flex;
    justify-content: flex-end;
    max-width: 90px;
   
}

.label-container .detail p{
    color: #535353;
    text-justify: flex-end;
    text-align: right;
    padding: 0;

}


.label-container label {
    display: flex;
    justify-content: space-between;

}




/* end */














/* for button  must not touch*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9px 12px;
    gap: 8px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.lable {
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
}


.button:hover .svg-icon {
    animation: slope 1s linear infinite;
}

@keyframes slope {
    0% {}

    50% {
        transform: rotate(10deg);
    }

    100% {}
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.button-container a{
    text-decoration: none;
}

/* end */