* {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #61737b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #002334;
}


.navbar {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    box-shadow: 0 1px 3px;
    z-index: 3;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: flex;
    align-items: center;
}


nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}


.navbar li a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f1f1f1;
    color: black;
    font-weight: bold;
}

.navbar li a:hover {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #002334;
    color: #f1f1f1;
    transition: 0.5s;
}

.navbar a {
    text-decoration: none;
    color: #333;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
}

.navbar img {
    height: 50px;
    width: 50px;
}

.logoLabel {
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 200px;
    color: white;
}

.navbar .logout-btn{
    font-size: 14px;
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bold;
    border-radius: 30px;
    margin-left: 30px;
    background-color: #FA7C0D;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .logout-btn:hover {
    background-color: white;
    border: 1px solid #fa7c0D;
    color: #FA7C0D;
    transition: 0.3s;
}



.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 14.5%;
    transition: 0.5s;
}


.dropdown-content:hover{
    width: 11%;
    transition: 0.5s;
}


.dropdown:hover .dropdown-content {
    display: block;
    z-index: 5;
    margin-top: 9%;
    font-size: 14px;
}
