/* for body */

body {
    /* background: linear-gradient(360deg, rgb(25, 67, 122) 4%, rgb(182, 206, 251) 50%, rgb(254, 233, 177) 100%); */
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;

}

.content {
    display: grid;
    grid-template-columns: .2fr 4fr .2fr;
    grid-template-rows: .5fr 2fr .5fr;
    height: 93.5vh;
    background: url(../system_images/aboutbg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}


.container2 .header-text label {
    font-weight: bold;
    font-size: 30px;
}

.container2 hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid rgb(215, 215, 215);
}

.container2 p {
    color: rgb(90, 90, 90);
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

.container2 .image-holder {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 .image-holder img {
    width: 220px;
    height: 220px;
}