














/* edit room */


.input-fields-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--first-color);
    padding: 50px 0;
    gap: 10px;
    margin-top: 10px;
}

.input-fields-subcontainer {
    display: flex;
    flex-direction: column;

}

.input-fields-subcontainer label {
    font-size: 1.4rem;
    color: var(--seventh-color);
}

.input-fields-subcontainer input {
    width: 250px;
    height: 30px;
    color: var(--seventh-color);
    background-color: var(--first-color);
    border: 1px solid var(--seventh-color3);
    border-radius: 5px;
    padding: 0 5px;
}

input:hover {
    box-shadow: 0 0 2px var(--sixth-color);

}

input:hover[name="photo"],
input:hover[name="cottage_photo"] {
    box-shadow: none;
}

select:hover {
    box-shadow: 0 0 2px var(--sixth-color);

}

.input-fields-subcontainer select {
    width: 260px;
    height: 35px;
    color: var(--seventh-color);
    background-color: var(--first-color);
    border: 1px solid var(--seventh-color3);
    border-radius: 5px;
    padding: 0 5px;
}

.image-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--first-color);
    margin-top: 10px;
    justify-content: space-evenly;
    padding-top: 20px;
}

.prev-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    padding: 10px;
    gap: 10px;
}

.prev-image-container label {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--seventh-color);

}

.prev-image-container img {
    height: 300px;
    padding: 10px;
    background-color: var(--first-color2);
    border-radius: 5px;
}



.new-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    padding: 10px;
    gap: 10px;
}

.new-image-container label {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--seventh-color);

}

.new-image-container .image-holder {
    height: auto;
    max-width: 350px;
    padding: 10px;
    background-color: var(--first-color2);
    border-radius: 5px;
}

.new-image-container button {
  background-color: var(--proceed-bgcolor);
  color: var(--proceed-color);
  border:  1px solid var(--seventh-color3);
  padding: 5px 10px;
  border-radius: 5px;
}

.new-image-container button:hover{
    box-shadow: 0 0 2px var(--proceed-bgcolor);
}








.button-container {
    width: 100%;
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}



.button-container .save-btn {
    color: var(--proceed-color);
    background-color: var(--proceed-bgcolor);
    padding: 10px;
    border: 1px solid var(--seventh-color3);
    border-radius: 5px;
}

.button-container .save-btn:hover {
    box-shadow: 0 0  4px var(--proceed-bgcolor);
}



.button-container .delete-btn {
    color: var(--cancel-color);
    background-color: var(--cancel-bgcolor);
    padding: 10px;
    border: 1px solid var(--seventh-color3);
    border-radius: 5px;
}


.button-container .delete-btn:hover {
    box-shadow: 0 0  4px var(--cancel-bgcolor);
}