main {
    width: 100%;
    display: flex;
    flex-direction: row;

}

/* side nav */
.side-nav {
    height: 100vh;
    width: 20%;
    background-color: var(--eight-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}


.logo-container img {
    width: 120px;
    margin-bottom: 10px;
}

.logo-container label {
    color: var(--pure-white);
    font-size: 2rem;
    font-weight: bold;
    font-family: estregan;
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
}


.menu {
    width: 100%;
    margin-top: 30px;
}

.menu .item {
    position: relative;
    cursor: pointer;

}

.menu .item a {
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    color: var(--pure-white);
    border: 1px solid var(--first-color2);
    border-right: none;
    border-left: none;
}

.menu .item i {
    margin-right: 10px;
}


.item a .dropdown {
    position: absolute;
    right: 10px;
    margin: 20px;
    transition: 0.3 ease;
}

.item .sub-menu {
    background-color: var(--eight-color2);
    display: none;
    max-height: 0;
    /* For transition effect */
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sub-menu-item {
    display: block;
    padding: 5px 0;
}

.menu #selected {}





/* logout button */

.logout-container {
    position: relative;
    cursor: pointer;

}

.logout-container a {
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
    color: var(--pure-white);


}

.logout-container i {
    margin-right: 10px;
}

















/* middle content */

.middle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.header-container {
    width: 100%;
    height: 8vh;
    background-color: var(--first-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title-head {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.title-head label {
    font-size: 2rem;
    font-weight: bold;
    color: var(--seventh-color);
    text-transform: capitalize;
}

.title-head img {
    height: 30px;
}

.title-head-right {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 20px;
}

.title-head-right img {
    height: 30px;
}

.title-head-right .switch-mode {
    margin-right: 10px;
}

.switch-mode i {
    font-size: 15px;
    cursor: pointer;
    color: var(--seventh-color);
}



/* main content */

.center-container {
    width: 100%;
    background-color: var(--first-color2);
    height: 92vh;
    overflow-y: scroll;
}










