

.rooms-base-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.container-header label {
    background-color: var(--reservation-title);
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--reservation-text);
    border: 1px solid var(--reservation-titleborder);
}

.category-container {
    display: flex;
    align-items: center;

    padding: 2px 10px 10px 2px;
    top: 0;
    z-index: 700;
    background-color: var(--first-color2);
    position: -webkit-sticky;
    position: sticky;

}

.select-container {
    display: flex;

    width: 100%;
    justify-content: space-between;
}

.search-bar-container {
    float: right;
}


/* no room message */
.no-rooms-message {
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    margin-top: 20px;
    font-size: 2rem;
}





/* mobile header */
.main-home {
    display: none;
}



/*Container styles*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.btn {
    font-size: 1rem;
    text-indent: 40px;
}


.btn::after {
    width: 5px;
    height: 5px;
}

/* end */



/* catergory container */
.category-main-container {
    width: 100%;
    margin-top: 20px;
    background-color: var(--first-color2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0;
    display: none;
}

.category-main-container h2 {
    color: var(--seventh-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.category-bar-container {
    display: flex;
    gap: 1rem;
}

.category-bar-container select {
    color: var(--seventh-color);
    padding: 1rem;
    background-color: var(--first-color);
}








/* select category */

.custom-select-pc {
    position: relative;
}

.custom-select-pc select {
    all: revert;
    padding: 5px;
    background-color: var(--first-color);
    border-color: var(--first-color2);
    color: var(--booknow-border);


    border: 1px solid var(--booknow-border);


}


/* Style the option elements */
select option {
    background-color: var(--first-color2);
    /* Dropdown options background color */
    color: var(--booknow-border);

    /* Dropdown options text color */
}




/* end */



/* rooms container */

.rooms-container {
    max-height: 82vh;
    /* Adjust the height as needed */
    position: relative;
    border-radius: 3px;
    flex-grow: 1;
    margin: 0 20px 20px 20px;
    background-color: var(--first-color);
    overflow-x: none;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Distribute items evenly */
}


/* rooms-holder */
.rooms-holder {
    padding: 20px;
}


.title-head {
    padding: 0;
    padding-left: 10px;
    margin: 0;

    text-transform: uppercase;
}

.title-head label {
    font-size: 2rem;
    font-weight: bold;
    /* Make the text bold */
    color: var(--seventh-color);
    /* Add more styling properties as needed */
}


/* rooms */

.room-first-container {
    display: flex;
    gap: 20px;
    padding: 5px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.rooms {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 340px;
    background-color: var(--first-color);
    border-radius: 5px;
    box-shadow: 0 0 4px var(--box-shadow);
}


.rooms label {
    font-size: 1.3rem;
    font-weight: normal;
    color: var(--seventh-color);
}

.rooms img {
    height: 150px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.rooms .info-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 120px;
    overflow-y: scroll;
}

.info-container .room-details {
    display: flex;
    justify-content: space-between;

}

.room-details label {
    font-size: 1.2rem;
}

.room-details p {
    font-size: 1.2rem;
}

.room-details label[for="bold-text"],
.room-details p[for="bold-text"] {
    font-weight: bold;
    font-size: 1.4rem;
}

#good-for {
    justify-content: flex-end;
    padding-bottom: 5px;

}

#good-for p {
    font-size: 1rem;
}

em {
    font-style: italic;
}

















/* for button  must not touch*/



.items button:hover {
    color: var(--booknow-text);
    background-color: var(--fourth-color);
    transition: 0.3s;
    transform-style: inherit;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 9px 12px;
    gap: 8px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: var(--booknow-text);
    background-color: var(--fourth-color);
    font-size: 1.5rem;
    border: 1px solid var(--booknow-border);
}


.button:hover {
    color: var(--booknow-text);
    background-color: var(--fourth-color);
    transition: 0.3s;
    transform-style: inherit;
}

.lable {
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 1px;
}


.button:hover .svg-icon {
    animation: slope 1s linear infinite;

}

/* CSS to change the color of the SVG icon */
.svg-icon path,
.svg-icon rect {
    stroke: var(--booknow-text);
    /* Change "red" to the desired color */
}

@keyframes slope {
    0% {}

    50% {
        transform: rotate(10deg);
    }

    100% {}
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}


.button-container a {
    text-decoration: none;
}
















/* input fields */









.adding-photo-container {
    width: 100%;
    background-color: var(--first-color2);
    padding: 40px 0 50px 0;
    display: flex;
    justify-content: center;
}


.adding-photo-container img {
    border-radius: 2px;
    padding: 10px;
    background-color: var(--first-color);
    border: 1px solid var(--seventh-color3);
    height: 300px;
    border-radius: 5px;
}

.create-room-form {
    border-radius: 5px;
}


.head-label {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;

}

.head-label label {
    width: 100%;
    background-color: var(--first-color);
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--seventh-color);
    border: 1px solid var(--seventh-color3);
}

.input-fields-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);

}

.input-fields {
    display: flex;
    flex-direction: column;
}

.input-fields label {
    color: var(--seventh-color);
}











.create-room-form label {
    font-weight: bold;
    font-size: 1.5rem;
}


.input_fields {
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--seventh-color3);
    background-color: var(--first-color);
    color: var(--seventh-color);
}


.input-fields textarea {
    width: 600px;
    height: 60px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--seventh-color3);
    background-color: var(--first-color);
    color: var(--seventh-color);
}

.input_fields_fixed {
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--seventh-color3);
    background-color: var(--fixed-color);
    color: var(--seventh-color);
}

.input_fields.has-value {
    background-color: #effaff;
}

.input_fields:hover {
    box-shadow: 0 0 4px rgb(100, 100, 255);
    transition: 0.3s;
}

.select_fields {
    width: 304px;
    height: 34px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--seventh-color3);
    background-color: var(--first-color);
    color: var(--seventh-color);
}


.select_fields.has-value {
    background-color: #effaff;
}

.select_fields:hover {
    box-shadow: 0 0 4px rgb(100, 100, 255);
    transition: 0.3s;
}


.center-label {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--seventh-color);
}

.center-label-image {
    display: flex;
    justify-content: center;
    align-items: center;


}

.center-label-image img {
    width: 600px;
    padding: 10px;
    background-color: var(--first-color2);
    border-radius: 5px;
}

.header_text {
    font-weight: bold;
    font-size: 20px;
    text-shadow: 0 1px 1px;
}

.button1 {
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--proceed-color);
    background-color: var(--proceed-bgcolor);
    border: 1px solid var(--seventh-color3);
    font-size: 15px;
}

.button1:hover {
    box-shadow: 0 0 4px var(--proceed-bgcolor);
}



/* peso sign */

.price {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}


.button-container2 {
    display: flex;
    background-color: var(--first-color);
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 0 100px 0;
}